html {
	height: 100%;
}

body {
  	background-color: #333333;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial, verdana, sans-serif;
}
.Main {
	margin: 0 auto;
    position: relative;
    width: 100%;
    text-align: left;
}
.Main textarea{
	resize: none;
    margin: 0 auto;
    width: 625px;
    color: #fff;
    background: none;
    border-radius: 35px;
    border: none;
    font-size:34px; 
    padding:12px; 
    text-transform: capitalize;
    outline: none;
}
.content-wrapper{
	margin: 0 auto;
    position: relative;
    width: 620px;
    padding: 75px 0 40px 0;
    overflow: hidden;
}
.textarea-wrapper{
	position: relative;
    min-height: 60px;
    margin: 0;
}
.button-wrapper{

}
button{
	background: none;
	border-radius: 100px;
    border: 1px solid #518cff;
    font-size: 24px;
    color: #518cff;
    display: inline-block;
    padding: 10px 90px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button:hover{
	background: #434473;
}
.button_container{
	display: block;
}
#namelist{
    color: #fff;
    font-size: 20px;
}